<header class="header">
    <div class="header-content">
        <div class="logo-container" [routerLink]="['/']">
            <img src="assets/logo.png" alt="Tunisair Logo" class="logo" />
        </div>

        <div class="auth-section">
            <ng-container *ngIf="isLoggedIn; else loginButton">
                <button class="auth-button logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span (click)="onLogout()">Déconnexion</span>
                </button>
            </ng-container>
            <ng-template #loginButton>
                <button class="auth-button login">
                    <i class="fas fa-sign-in-alt"></i>
                    <span (click)="onLogin()">Connexion</span>
                </button>
            </ng-template>
        </div>
    </div>
</header>